@model IEnumerable<Core.Models.RoomViewModel>
@{
    string role = HttpContext.Current.Session["role"].ToString();
    ViewBag.Title = "تفاصيل القاعات";
}

<<div id="wrapper" style="margin-right:18px; margin-top:40px;">
    <h2 class="col-lg-10" style="color: #bba20b; margin-inline: -39px; margin-top: 3%;"><span class="material-symbols-outlined"><span class="material-symbols-outlined" style="font-size: 18px;">meeting_room</span></span>&nbsp;&nbsp;<b>قائمة القاعات </b></h2>
    <a href="@Url.Action("Add","Room")" class="btn btn-primary btn-sm" style="margin-left:50px; margin-top:40px;"> <i class="fa fa-plus"></i> <span class="bold">اضافة قاعة</span></a>
    <div class="ibox-content" style="margin-left:50px;margin-right:185px ;margin-bottom: 7%;" dir="ltr">
        <table class="table table-striped dataTables-example">
            <thead>
                <span class="material-symbols-outlined" style="float: right; line-height: 32px;">search</span>
                <tr>


                    <th>الخصائص </th>
                    <th>المرفقات </th>
                    @*<th id="devices"> عدد الأجهزة </th>*@
                    <th id="detailsRoom">تفاصيل القاعة</th>
                    <th id="describeRoom"> وصف القاعة</th>
                    <th id="typeRoom">نوع القاعة</th>
                    <th id="nameRoom">اسم القاعة</th>




                </tr>
            </thead>
            <tbody>
                @{ var count = 1;}
                @foreach (var room in Model)
                {
                    var idstring = "row" + count;
                    <tr id="@idstring">
                        @if (role == "Admin" || role == "SystemDirector")
                        {
                            <td>
                                <a class="btn btn-info" href="@Url.Action("Edit","Room", new { Id = room.roomId })" value="">تعديل</a>
                                <a value="" onclick="ShowDeleteModal(@room.roomId,'@Url.Action("Delete", "Room", new { id = room.roomId })')"
                                   class="btn btn-info btn-danger">حذف</a>
                            </td>
                        }

                        @if (room.image != null)
                        {
                            <td><img src="../Content/Uploads/@room.image" width="40" height="40" /></td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td id="detailsRoom_@idstring">@room.description </td>
                        <td id="describeRoom_@idstring"> @room.roomLocation </td>
                        <td id="typeRoom_@idstring">@room.type </td>
                        <td id="nameRoom_@idstring">@room.roomName </td>
                        @*<td id="devices_@idstring"> @room.capacity </td>*@
                       

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">شاشة تأكيد الحذف </h5>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="dataid" />
                <input type="hidden" value="" id="dataurl" />
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p>هل انت متأكد من الحذف  ؟</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="$('#deleteModal').modal('hide')">اغلاق</button>
                <button type="button" data-id="" class="btn btn-primary" onclick="DeleteData()" style="margin-top:0">تأكيد</button>
            </div>
        </div>
    </div>
</div>
@section scripts{


    <script>
        function ShowDeleteModal(Id, url) {
            $('#deleteModal').modal('show')
            $("#dataid").val(Id);
            $("#dataurl").val(url);
        }
        function DeleteData() {
            window.location.replace($("#dataurl").val())
        }
    </script>

    @if (ViewBag.Success != null)
    {
        if (ViewBag.Success)
        {
            <script>
                var x = document.getElementById("snackbar");
                // Add the "show" class to DIV
                x.className = "show";
                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            </script>
        }
        else
        {

            <script>

                var x = document.getElementById("snackbar");
                // Add the "show" class to DIV
                x.className = "show";
                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            </script>
            }
        }
    }