
<ul class="nav" id="side-menu" dir="rtl">
    <li>
        <a href="@Url.Action("Index","Home")"><i class="fa fa-th-large"></i> &nbsp;&nbsp;<span class="nav-label">الرئيسية</span> </a>
    </li>

    <li>
        <a href="@Url.Action("Index","Calender")"><i class="fa fa-table"></i> &nbsp;&nbsp; <span class="nav-label">التقويم</span> </a>
    </li>
    <li>
        <a href="@Url.Action("Index","Archives")"><i class="fa fa-files-o"></i> &nbsp;&nbsp;<span class="nav-label">الارشيف</span></a>
    </li>
    <li>
        <a href="@Url.Action("Index","Report")"><i class="fa fa-bar-chart-o"> &nbsp;&nbsp;</i> <span class="nav-label">التقارير</span></a>
    </li>
    <li>
        <a href="@Url.Action("Index","Invitation")"><span class="material-symbols-outlined" style="font-size: 18px;margin-right: 6%;">outgoing_mail</span> &nbsp;&nbsp;<span class="nav-label"> الدعوات </span></a>
    </li>
    <li>
        <a href="@Url.Action("LogOut","Identity")" class="astext" type="button"><i class="fa fa-sign-out" style="font-size:16px; color:#fff; "></i>&nbsp;&nbsp;&nbsp; تسجيل خروج</a>

    </li>
</ul>